<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog: Editor</title>

  <link rel="stylesheet" type="text/css" href="/css/editor.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet"
		href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

  <div class="topnav">
		<a class="active" href="#">New Blog</a>
		<a href="home.html">Home</a>		
	</div>

  <div class="banner">
    <input type="file" accept="image/*" id="banner-upload" hidden>
    <label for="banner-upload" class="banner-upload-btn">
      <span class="material-symbols-outlined">
        upload_image
      </span>
    </label>
  </div>

  <div class="blog">
    <textarea type="text" class="title" placeholder="Blog Title..."></textarea>
    <textarea type="text" class="article" placeholder="Write down something here..."></textarea>
  </div>

  <div class="blog-options">
    <form action="/" method="post">
      <button class="btn cyan publish-btn" type="submit">
        <span class="material-symbols-outlined" style="vertical-align: sub;">
          publish
        </span>
        publish</button>
      <input type="file" accept="image/*" id="image-upload" hidden>
      <label for="image-upload" class="btn grey upload-btn">
        <span class="material-symbols-outlined" style="vertical-align: sub;">
          photo_library
        </span>
        upload image</label>
    </form>
  </div>
</body>
</html>