<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>login</title>
<link rel="stylesheet" type="text/css" href="/css/mycss.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Ubuntu">
<link rel="stylesheet"
	href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>

<body>
	<div>
		<h1>LOGIN</h1>
		<br>
		<hr>
		<br>
		<form action="/blog" method="post">
			<label for="username" class="desc">UserName:</label> 
			<input
				type="text" id="username" class="text_input" name="username"
				placeholder="Enter UserName"> <br> <br> 
				<label for="password" class="desc">Password:</label> 
				<input type="password"
				class="text_input" name="password" placeholder="Enter Password">
			<br> <br> 
			<input type="submit" value="Login" id="submit_button" style="font-size: 18px"> 
		</form>
	</div>
</body>
</html>