<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog: reader</title>

	<link rel="stylesheet" type="text/css" href="/css/editor.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
	<link rel="stylesheet" type="text/css" href="/css/reader.css">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet"
		href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

	<div class="topnav">		
		<a class="topnav-right" th:href="@{/builder}">New Blog</a>
		<a class="topnav-right" th:href="@{/home}">Home</a>	
		<a class="topnav-right active" href="#">Blog</a>
		<div class="dropdown">
		  <a class="topnav-left dropbtn" href="#" th:text="|Welcome, ${#httpServletRequest.remoteUser}|" name="username"></a>		
		    <div class="dropdown-content">
		      <a th:href="@{/logout}">log out</a>	     
		    </div>
		</div>	
	</div>

	<div class="banner pseudo"></div>

	<div class="blog">
		<h1 class="title" th:text="${theBlogTitle}"></h1>
		<p class="published">
			<span>Published by - 
			<span th:text="${theBlogAuthor}"></span>
			 - &nbsp; At 
			<span th:text="${theBlogDate}"></span>
			</span>
			
			<span class="views-right">
			Views:
			<span  th:text="${theBlogViews}"></span>
			</spanclass="views-right">
		</p>
			
		<div class="article">
			<p th:utext="${theBlogContent}" style="white-space: pre-line;"></p>
		</div>
	</div>

	<div class="blog-options">
		<form action="/home" method="get">
			<input type="hidden" name="username" th:value="${username}">
				<button class="btn cyan back-btn" type="submit">
					<span class="material-symbols-outlined" style="vertical-align: sub;">
						arrow_back
					</span>
					back</button>
		</form>
		
		<form action="/editor" method="get">
			<input type="hidden" name="username" th:value="${username}">
			<input type="hidden" name="blogId" th:value="${theBlogId}">
				<button class="btn grey edit-btn" type="submit" th:if="${isAuthorized}">
					<span class="material-symbols-outlined" style="vertical-align: sub;">
						edit_note
					</span>
					edit
				</button>
		</form>
		
		<form action="/delete" method="get">
			<input type="hidden" name="username" th:value="${username}">
			<input type="hidden" name="blogId" th:value="${theBlogId}">
			<button class="btn red delete-btn" th:if="${isAuthorized}">
				<span class="material-symbols-outlined" style="vertical-align: sub;">
					delete
				</span>delete</button>
		</form>		
	</div>

</body>
</html>