<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog: reader</title>

  <link rel="stylesheet" type="text/css" href="/css/editor.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/reader.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
	<link rel="stylesheet"
		href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>

  <div class="topnav">
		<a href="editor">New Blog</a>
		<a href="home">Home</a>	
   		<a href="#" class="active">Blog</a>	
   		<span th:text="${username}" name="username"></span>	
	</div>

  <div class="banner"></div>

  <div class="blog">
    <h1 class="title" th:text = "${theBlogTitle}"></h1>
    <p class="published"><span>Published by - <span th:text="${username}"></span></span></p>
    <div class="article">
      <p th:text="${theBlogContent}"></p>
     <!--
	 <p>
        Undertale is a 2015 2D role-playing video game created by American indie developer Toby Fox. The player controls a child who has fallen into the Underground: a large, secluded region under the surface of the Earth, separated by a magical barrier. The player meets various monsters during the journey back to the surface, although some monsters might engage the player in a fight. The combat system involves the player navigating through mini-bullet hell attacks by the opponent. They can opt to pacify or subdue monsters in order to spare them instead of killing them. These choices affect the game, with the dialogue, characters, and story changing based on outcomes.
      </p>  
      <p>
        Outside of artwork and character designs by Temmie Chang, Fox developed the entirety of the game by himself, including the script and music. The game took inspiration from several sources, including the Brandish, Mario & Luigi, and Mother role-playing game series, bullet hell shooter series Touhou Project, role-playing game Moon: Remix RPG Adventure, and British comedy show Mr. Bean. Originally, Undertale was meant to be two hours in length and was set to be released in mid-2014. However, development was delayed over the next three years.
      </p>
      -->
    </div>
  </div>

  <div class="blog-options">
    <button class="btn cyan back-btn" onclick="window.location.href='home'">
      <span class="material-symbols-outlined" style="vertical-align: sub;">
        arrow_back
      </span>
      back</button>
    <form action="/editor" method="get">
      <button class="btn grey edit-btn">
        <span class="material-symbols-outlined" style="vertical-align: sub;">
          edit_note
        </span>
        edit
      </button>
    </form>
    <button class="btn red delete-btn">
      <span class="material-symbols-outlined" style="vertical-align: sub;">
        delete
      </span>delete</button>
  </div>

</body>
</html>